@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1c1a19;
  margin: auto;
}

header {
  position: fixed;
  width: 100%;
  background-color: #3c3a39;
  padding-bottom: 12px;
}

nav {
  color: #fff;
}

.logo {
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 18px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  list-style: none;
}

.navbar li a {
  text-decoration: none;
  color: #fff;
  padding: 32px;
}

.navbar {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 56px 24px 12px 24px;
}

.navbar .fa-bars {
  display: inline-block;
  font-size: 25px;
}

.menu-line {
  width: 24px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 4px;
}

.menu-icon {
  display: none;
  margin-right: 12px;
  margin-bottom: 12px;
}

h1 {
  margin: 0;
}
.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  min-width: 400px;
}

.container {
  /*display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: url(./Pictures/Illustration-header.png);
  background-repeat: no-repeat;
  background-position: bottom right;*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "top contain-image";
  text-align: center;
  text-align: justify;
}

.container h1 {
  color: #ff6b00;
  padding: 120px 24px 12px 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  margin-top: 192px;
  margin-bottom: 24px;
  text-align: justify;
}

.container p {
  color: #fff;
  margin-bottom: 50px;
  padding: 12px 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

.container h2 {
  color: #fff5e1;
  line-height: 32px;
  padding: 0 24px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 24px;
}

.top {
  margin-left: 143px;
}

.contain-image img {
  /*display: none;
  position: absolute;*/
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  height: auto;
  float: right;
  height: 769.27px;
left: 1744.68px;
top: -135px;
  margin-bottom: 0;
}
.picture {
  position: relative;
  left: 96.37%;
  right: -96.24%;
  top: 0%;
  bottom: 0.1%;
  float: right;
  display: block;
  margin-right: 0;
  transform: matrix(-0.96, 0.27, 0.27, 0.96, 0, 0);
}

.social-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
  padding-left: 30.01px;
  padding-right: 160px;
  padding-bottom: 130px;
}

.work-list a {
  text-decoration: none;
}

.work-link a {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100px;
  height: 24px;
  letter-spacing: 0.3rem;
  flex: none;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
}

.project-item a {
  text-decoration: none;
}

.project-list a {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  text-decoration: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 12px 12px;
  margin-left: 113.5px;
  margin-right: 113.5px;
}

.link a {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
}

#social-icon a {
  color: #dbd8d7;
}

.social {
  font-size: x-large;
  margin: 10px;
}

.grid-work {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.2rem;
  text-align: center;
  background-color: #fff;
}

.work-heading > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
}

.work-heading {
  margin-top: 120px;
  margin-bottom: 24px;
}

.working-heading h1 {
  display: flex;
  align-items: center;
  flex: none;
  flex-wrap: wrap;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
}

.photo-work {
  /*display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  left: 0;*/
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.work-heading hr {
  border: 1px solid #212121;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 24px;
}

.photo-work img {
  width: 327px;
  height: 237px;
  flex: none;
  align-items: center;
  margin-left: 141px;
  margin-right: 24px;
  max-width: 100%;
  height: auto;
}

.photo-text h1 {
  display: flex;
  align-items: center;
  flex: none;
  flex-grow: 0;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  margin: 12px 24px;
}

.photo-text p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  flex-grow: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  margin-left: 24px;
  margin-right: 24px;
  text-align: justify;
}

.proj-section {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  /*height: 100vh;
  
  grid-template-rows: 1fr 1fr;*/
}

.work-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
}

.work-list ul {
  list-style: none;
  display: flex;
  flex-grow: 0;
}

.work-list li {
  margin-bottom: 12px;
  border: 1px solid #8993a4;
  padding: 10px 12px;
  align-items: center;
  background-color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: #091e42;
}

.item {
  margin: 12px;
}

.work-item-1 {
  margin-left: 24px;
  width: 49px;
  height: 40px;
  flex: none;
  order: 0;
}

.work-item-2 {
  width: 56px;
  height: 40px;
  flex: none;
  order: 1;
}

.work-item-3 {
  width: 95px;
  height: 40px;
  flex: none;
  order: 2;
}

.work-item-4 {
  width: 61px;
  height: 40px;
  flex: none;
  order: 3;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  background: #ff6b00;
  margin-left: 24px;
  margin-right: 227px;
}

.project {
  /*display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  left: 0;*/
  height: 100vh;
  background-image: url(./Pictures/ImgPlaceholder1.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 24px;
}

.project-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 100vh;
}

.project-heading h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 12px;
  margin-top: 84px;
  text-align: justify;
}

.project-heading p {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-align: justify;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 12px;
}

.project-lists {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
}

.project-lists ul {
  list-style: none;
  display: flex;
  flex-grow: 0;
}

.project-lists li {
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  background-color: rgba(255, 255, 255, 0.24);
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  padding: 10px 12px;
  color: #fff;
  margin-bottom: 22px;
}

.project-lists a {
  text-decoration: none;
}

.project-item-1 {
  display: flex;
  margin-left: 16px;
  margin-right: 12px;
  width: 56px;
  height: 40px;
  order: 0;
}

.project-item-2 {
  display: flex;
  margin-right: 12px;
  width: 95px;
  height: 40px;
  order: 1;
}

.project-item-3 {
  display: flex;
  margin-right: 75px;
  width: 61px;
  height: 40px;
  order: 2;
}

.project-item {
  margin: 12px;
}

.project-list {
  display: flex;
  align-items: center;
  text-align: center;
  align-content: flex-end;
  background-color: #ff6b00;
  width: 100%;
  height: 48px;
  margin-top: 22px;
  bottom: 0;
}

.about-sec {
  background-color: #1c1a19;
  margin-top: 130px;
}

.about-info {
  margin-left: 142px;
  /*margin-right: 732px;*/
}

.about-me {
  /*display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  left: 0;*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  /*background-image: url(./Pictures/illustration-about\ me.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  margin-right: 0;*/
}

.about-pic img {
  display: flex;
  flex-wrap: wrap;
  max-width: 672px;
  width: 100%;
  height: auto;
  float: right;
  margin-top: 99.47px;
  margin-bottom: 139.15px;
  margin-left: 146.02px;
}

.about-me h1 {
  display: flex;
  align-items: center;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin: 120px 20px 0;
}

.about-me p {
  display: flex;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  margin: 24px 24px;
  text-align: justify;
}

.about-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 161px;
  height: 48px;
  background: #ff6b00;
  margin-left: 24px;
  margin-right: 190px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin-bottom: 221px;
}

.about-link .button {
  text-decoration: none;
  color: #fff;
  width: 137px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 12px 12px;
}

.about-sec hr {
  border: 1px solid #fff;
  margin-left: 24px;
  margin-right: 24px;
}

.skill-sec {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.languages {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  left: 0;
}

.frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  margin: 128px 74.77px 36px;
}

.languages h2 {
  display: flex;
  align-items: center;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.languages ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-left: 94.5px;
  margin-right: 94.5px;
}

.languages li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  margin-top: 12px;
  margin-bottom: 32px;
}

.framework {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  left: 0;
}

.frames {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  margin: 47px 32px;
}

.frames h2 {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.framework ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-left: 94.5px;
  margin-right: 94.5px;
}

.framework li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  margin-top: 12px;
  margin-bottom: 32px;
}

.skills {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  left: 0;
}

.skill {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  margin: 32px 103px;
}

.skill h2 {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.skills ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 32px 118.5px 119.54px;
}

.skills li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  margin-top: 12px;
  margin-bottom: 32px;
}

#social-icon ul {
  list-style: none;
  display: flex;
}

.contact-me {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #fff;
}

.form-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-right: 24px;
}

.contact-me h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin-top: 120px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 58px;
}

.contact-form input {
  margin: 24px 0;
  box-sizing: border-box;
  padding: 15px 16px;
}

.contact-form textarea {
  width: 100%;
  height: 114px;
  background-color: #fbf8f7;
  border: 0;
}

.contact-form,
.contact-form-text,
.contact-form-email {
  border: none;
  border-bottom: 2px solid #dbd8d7;
}

.contact-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0;
  padding: 12px;
  gap: 10px;
  width: 131px;
  height: 48px;
  background: #ff6b00;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  cursor: pointer;
  transition: 0.5s;
}

.form-button {
  margin-top: 24px;
  margin-left: 122px;
  margin-right: 122px;
  margin-bottom: 124px;
}

.contact-me hr {
  margin-bottom: 15px;
  background-color: #dfe1e6;
  height: 1px;
  left: 0;
  right: 0;
  top: 0;
}

.contact-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 200px;
  height: 40px;
}

.contact-icon img {
  /*margin-left: 88px;
  margin-right: 87px;*/
  margin-left: 620px;
  margin-right: 620px;
  margin-bottom: 26px;
}

.shape img {
  width: 134px;
  height: 5px;
  bottom: 8px;
  margin-left: 120px;
  margin-right: 121px;
  margin-bottom: 8px;
}

@media all and (max-width: 768px) {
  .navbar ul {
    display: none;
  }
  .menu-icon {
    display: block;
    position: absolute;
    right: 15px;
  }
  .container {
    background-image: url(./Pictures/illustration-header-mobile.png);
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  .contain-image img {
    display: none;
  }
  .top {
    margin-left: 24px;
  }
  .container h1 {
    margin-top: 120px;
  }
  .grid-work {
    grid-template-columns: 1fr;
  }
  .photo-work {
    /*display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    left: 0;*/
    grid-template-columns: 1fr;
  }
  .proj-section {
    /*display: flex;
    flex-direction: column;
    align-content: center;*/
    grid-template-columns: 1fr;
    grid-template-rows: none;
  }
  .about-pic img {
    display: none;
  }
  .about-me {
    grid-template-columns: 1fr;
    background-image: url(./Pictures/illustration-about-me-mobile.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-right: 0;
  }
  .about-info {
    margin-left: 24px;
    /*margin-right: 24px;*/
  }
  .skill-sec {
    grid-template-columns: 1fr;
  }
  .form-detail {
    grid-template-columns: 1fr;
  }
  .contact-icon img {
    margin-left: 88px;
  margin-right: 87px;
  }
  .shape img {
    display: none;
  }
}
/*
@media only screen and (max-width: 550px) {
  .work {
    grid-template-columns: 1fr;
  }
}
*/
